li{
   position: relative; 
   list-style-type: none;
   cursor: pointer;
   user-select: none;
   padding: 20px;
   border: 1px solid bisque;
   border-radius: 10px;
   transition: all .3s;
   text-align: center;
   margin-bottom: 10px;
}

li:after{
    content: none;
    display: block;
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: darkred;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}

li:hover:after{
    content: '';
    
}

li:hover, li:focus{
    outline:none;
    background-color: #222;
   
}