body {
    background-color: #313131;
    color: bisque;
    font-family: ubuntu, sans-serif;
    font-size: 30px;
}
h1{
    text-align: center;
}
ul {
  
    padding: 0;
    max-width: 600px;
    margin: 0 auto;

 
}