.input-item {
    display: flex;
    align-items: center;
    margin: 40px auto 10px auto;
    max-width: 600px;
}
.input-button {
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    cursor: pointer;
    border: 1px solid bisque;
    user-select: none;
    transition: .3s;
}

.input-button:hover{
    background-color: #222;
   
}
input {
    display: block;
    font-size: 30px;
    padding: 10px;
    background-color: #353535;
    border:1px solid bisque;
    border-radius: 10px;
    outline: none;
    margin-right: 10px;
    flex-grow: 1;
    color: inherit;
    transition: .3s;
}

input:focus{
    background-color: #222;
}